<template name="mapView">

  <div class="row fixed-position">
    <h1>{{driverName}}
      <div class="input-group col-sm-3 datetimepicker datetop">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input class="set-due-date form-control" type="text"/>
      </div>
    </h1>
  </div>
  <div class="row">
    <div class="col-md-8 modal-image">
      <div class="span10 content-area" id="map">
        <!-- Map Content -->
      </div>
    </div>
    <div class="col-md-4 modal-meta fixed-top">
      <div class="list-group">
        {{#each locations}}
          <a href="#" class="list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{address}} <br />
                <small class="text-info">{{timeFormat time}}</small>
              </h5>

            </div>
            <p class="mb-1"> Location captured from device : <small class="text-info">{{device}}</small></p>
          </a>
        {{/each}}
      </div>
    </div>
  </div>

</template>
