<template name="driverIndex">
  <h1>Staff <span class="pull-right driver_btn"><button class="btn btn-primary" style="margin-right: 10px" id="driver">All Staff Locations </button><button class="btn btn-primary" id="newDriver">New Staff</button></span></h1>
  <div class="bs-example" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
      <div class="panel-heading">Staff Lists </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Device ID </th>
            <th>Staff Name</th>
            <th>Email ID</th>
          </tr>
        </thead>
        <tbody>
        {{#each drivers}}
          <tr>
            <th scope="row">{{indexCount @index}}</th>
            <td>{{device}}</td>
            <td>{{StaffName}}</td>
            <td><a href="{{pathFor 'driver'}}"> {{StaffEmail}} </a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
